.login_box {
    padding: 10% 37% 2rem 37%;
}
@media only screen and (max-width: 1200px) {
    .login_box {
        padding: 10% 27% 2rem 27%;
        transition: padding 1s;
    }
}
@media only screen and (max-width: 800px) {
    .login_box {
        padding: 30% 10% 2rem 10%;
        transition: padding 1s;
    }
}
.login_title {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: normal !important;
}

.wechat_img {
	border-radius: 50%;
    overflow: hidden;
   
}
.sapMLIBContent.myFlex{
	align-items: flex-end;
}
.tileLayout {
	float: left;
} 
.sapUiUfdShellAnim .sapUiUfdShellHeadCenter.sapUiUfdShellAnim {
	-webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -webkit-transition-delay: 30ms;
    transition-delay: 30ms;
    -moz-transition-delay: 30ms;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    -moz-transition-property: left,right;
    z-index: 0;	
}