.login_box {
    padding: 10% 37% 2rem 37%;
}
@media only screen and (max-width: 1200px) {
    .login_box {
        padding: 10% 27% 2rem 27%;
        transition: padding 1s;
    }
}
@media only screen and (max-width: 800px) {
    .login_box {
        padding: 30% 10% 2rem 10%;
        transition: padding 1s;
    }
}
.login_title {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: normal !important;
}

.wechat_img {
	border-radius: 50%;
    overflow: hidden;
   
}
.sapMLIBContent.myFlex{
	align-items: flex-end;
	max-width: 95%;
}
.tileLayout {
	float: left;

} 
.tileLayout:active{
	background-color: #00679e
}
.sapUiUfdShellAnim .sapUiUfdShellHeadCenter.sapUiUfdShellAnim {
	-webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -webkit-transition-delay: 30ms;
    transition-delay: 30ms;
    -moz-transition-delay: 30ms;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    -moz-transition-property: left,right;
    z-index: 0;	
}
.sapUiSmallMarginBegin.sapUiSmallMarginTopBottom scoreVbox{
	width:14rem;
}
.sapUiSmallMarginBegin.sapUiSmallMarginTopBottom scoreIcon{
	position:fixed;
	right:5rem;
	
}
.scoreText{
	font-size:2rem;
    position:fixed;
	right:2rem;
}
.rank{ overflow:hidden; padding-top:14px; padding-bottom:14px; color:#A9A9A9}
.point{ overflow:hidden; padding-top:14px; padding-bottom:14px; color:#000000; padding-left:10px; font-size:2rem; position:relative;left:20px;float:right }
.rank_2{ overflow:hidden; padding-top:14px; padding-bottom:14px; color:#000000; padding-left:10px;}
.rank_img{ overflow:hidden; padding-bottom:6px; padding-left:10px;padding-top:6px;}
.rank_title{ font-family:Helvetica;font-size:60px;}